@model Book

<h3>@Model.Title Information</h3>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Characteristics</th>
        <th>Summary</th>
    </tr>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.Author</td>
        <td>@Model.Characteristics</td>
        @*<td>@Model.Summary</td>*@
    </tr>
</table>

