@model Book

<h3>@Model.Title Information</h3>
<table class="table">
    <tr>
        <th>BookID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Characteristics</th>
    </tr>
    <tr>
        <td>@Model.BookID</td>
        <td>@Model.Title</td>
        <td>@Model.Author</td>
        <td>@Model.Genre</td>
        <td>@Model.Characteristics</td>
    </tr>
</table>

